{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode gzip

	handle /api/* {
		reverse_proxy api:8080
	}

	handle /avatars/* {
		reverse_proxy api:8080
	}

	handle /uploads/* {
		reverse_proxy api:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
